:root {
  --font-s: 20px;
  --font-a: 24px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: rgb(24, 22, 22);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--font-s);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  font-size: var(--font-a);
  color: rgb(44, 4, 14);
  font-weight: bold;
  letter-spacing: .7px;

  &:hover {
    color: rgb(253, 237, 173);
  }
}